<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.belarusian-en</string>
	<key>CFBundleName</key>
	<string>Belarusian</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>KLInfo_Belarusian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.belarusian-en.belarusian</string>
		<key>TISIntendedLanguage</key>
		<string>be</string>
	</dict>
	<key>KLInfo_Belarusian - PC</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.belarusian-en.belarusian-pc</string>
		<key>TISIntendedLanguage</key>
		<string>be</string>
	</dict>
</dict>
</plist>
